{% extends 'base.html' %}

{% block title %}valider compte
{% endblock title %}

{% block section %}
    <div class="alert alert-info">
        <div class="heading h3 mb-4">Vérification</div>
                
                <p>
                    Vous avez presque terminé! Un message de validation a été envoyé à votre adresse e-mail
                </p>
                <p>
                    Il suffit de consulter vos e-mails puis de cliquer sur le lien pour finaliser la 
                    réinitialisation de votre mot de passe.
                </p>
                <p>Si vous n'avez pas reçu d'email, verifiez que vous avez entré l'adresse avec laquelle vous vous êtes inscris.</p>
                
                
            </div>
            {% endblock section %}