{% extends 'base.html' %}
{% load widget_tweaks %}
{% block section %}
  
<div class="row justify-content-center mt-5 w-100" style="margin-bottom: 63px;"> 

    
  <!-- Default form login -->
  <div class="card col-md-6 col-sm-8 col-lg-4">
  <form class="text-center p-5" method="POST">
    {% csrf_token %}
  <p class="h4 mb-4">Changer mot de passe</p>

  <!-- Email -->
<!-- Large outline input -->

    <div class="content" style="margin-top: 70px;">
        <div class="md-form md-outline">
            {% render_field form.old_password class="form-control" %}
            <label for="{{form.old_password.name}}">{{form.old_password.label}}</label>
            <div class="invalid-feedback">{{form.old_password.errors}}</div>
        </div>
        <!-- Password -->
        <div class="md-form md-outline">
            {% render_field form.new_password1 class="form-control" %}
            <label for="{{form.new_password1.name}}">{{form.new_password1.label}}</label>
            <div class="invalid-feedback">{{form.new_password1.errors}}</div>
        </div>
        <div class="md-form md-outline">
            {% render_field form.new_password2 class="form-control" %}
            <label for="{{form.new_password2.name}}">{{form.new_password2.label}}</label>
            <div class="invalid-feedback">{{form.new_password2.errors}}</div>
        </div>
    </div>
  

  <button class="btn btn-info btn-block my-4" type="submit">Changer mot de passe</button>

</form>
</div>
</div>
{% endblock section %}

