{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}connexion
{% endblock title %}


{% block section %}
<!-- Default form subscription -->
<form class="text-center col-md-5 col-sm-9 col-9 mt-5 mx-auto border border-light p-5" method="POST">
    {% csrf_token %}
    <p class="h4 mb-4">Connexion</p>

    <!-- Email -->
    <div class="md-form md-outline">
        <input type="text" id="{{form.username.name}}" name="{{form.username.name}}" class="form-control">
        <label for="{{form.username.name}}">{{form.username.label}}</label>
    </div>

    <!-- Password -->
    <div class="md-form md-outline">
        <input type="password" id="{{form.password.name}}" name="password" class="form-control">
        <label for="{{form.password.name}}">{{form.password.label}}</label>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block" type="submit">Connexion</button>


</form>
<!-- Default form subscription -->
{% endblock section %}
