<div class="divider-custom space">
	        	<div class="divider-custom-line"></div>
	        	<div class="divider-custom-icon">
	          		<i class="fas fa-star"></i>
	        	</div>
	        	<div class="divider-custom-line"></div>
	      	</div>

			<div>

			<form>
				{% csrf_token %}
				<p>
					<label for="profileType"></label>
						<select id="profileType">
							<option value="stagiaire" {% if StagiaireForm.is_bound %} selected="selected" {% endif %}>stagiaire</option>
							<option value="aine" {% if AineForm.is_bound %} selected="selected" {% endif %}>aine</option>
						</select>
				</p>
			</form>
		</div>
		<div id="suivant"><button style="border-radius: 0.80em;">suivant</button>
		</div>
	<div>
		<form action="register" method="POST" id="StagiaireForm">
			{%csrf_token%}
			{{StagiaireForm.as_p}}
			<input type="submit" value="Valider">
			<input type="hidden" name="profileType" value="stagiaire">
		</form>
	</div>

	<div>
		<form action="register" method="POST" id="AineForm">
			{%csrf_token%}
			{{AineForm.as_p}}
			<input type="submit" value="Valider">
			<input type="hidden" name="profileType" value="aine">
		</form>
	</div>

	

	<script type="text/javascript">
		
		$(document).ready(function(){
			$('#StagiaireForm').hide();
			$('#AineForm').hide();
			$('#suivant').click(function(){
				if ($('#profileType').val() === 'stagiaire') {
					$('#AineForm').hide();
					$('#profileType').hide();
					$('#suivant').hide();
					$('#StagiaireForm').show();
					$('body').css("background-color", "green");
				}
				else if ($('#profileType').val() === 'aine') {
					$('#StagiaireForm').hide();
					$('#profileType').hide();
					$('#suivant').hide();
					$('#AineForm').show();
					$('body').css("background-color", "blue");
				}
			})
		})
		$('#profileType').change(click);
		
	</script>
	<script type="text/javascript">

			$(document).ready(function(){
				$('#stagiaire').addClass("active");
				$('#stagiaire_div').addClass("active");

				$('a').click(function(){
			        var lien = $(this).attr('id');
			        if(lien === 'aine'){

			        	$('#stagiaire').removeClass("active");
						$('#stagiaire_div').removeClass("active");

			        	$('#aine').addClass("active");
						$('#aine_div').addClass("active");

			        }
			    });
			})
		</script>